{% extends 'base.html' %}
{% load static %}

{% block nav %}
  <span id="next" class="direction"><i class="fas fa-angle-down"></i></span>
  <span id="prev" class="direction"><i class="fas fa-angle-up"></i></span>
  <!-- Navigation -->
  <span class="collapser"><i class="fas"></i></span>
  <nav class="navbar navbar-expand-lg text-uppercase" id="mainNav">
    <div class="flex-column" id="navbarResponsive">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Manual<br/>de<br/>Manutenção</a>
      <ul class="navbar-nav flex-column">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#passo1">XXXXXXX</a>
        </li><li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#equipe">Equipe</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#duvidas">Dúvidas</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block conteudo %}
  <section id="passo1" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">X</h3>
    </header>
    <article class="text-justify">
      <h4 id="passo1-1"><i class="fas fa-user-cog"></i> Por que XXXXXX?</h4>
      <p>XXXXXXXXXXXXXXXX.</p>
      <h4 id="passo1-2"><i class="fas fa-cog"></i> Como XXXXXXXXX?</h4>
      <div class="container-fluid video text-center my-3"><a class="popup-youtube" href="https://www.youtube.com/watch?v="><i class="fab fa-youtube"></i> Vídeo</a></div>
      <h5 id="passo1-2-1"><i class="fas fa-wrench"></i> Intrumentos necessários:</h5>
      <ul>
        <li>XXXXXXXXXXX</li>
        <li>XXXXXXXXXXX</li>
      </ul>
      <h5 id="passo1-2-2"><i class="fas fa-clipboard-list"></i></i> XXXXXXXXXXXX:</h5>
      <ol>
        <li>XXXXXXXXXXX;</li>
        <li>XXXXXXXXXXX;</li>
      </ol>
      <h5 id="passo1-2-3"><i class="fas fa-clipboard-list"></i></i> XXXXXXXXXXXXXX:</h5>
      <ol>
        <li>XXXXXXXXXXX;</li>
        <li>XXXXXXXXXXX;</li>
      </ol>
  </section>
  <section id="equipe" class="bg-white px-5">
    <h2 class="text-center text-uppercase text-secondary mb-0">Equipe</h2>
    <hr class="cog-dark mb-5">
    <div class="row text-center">
      <div class="col-md-4 col-12">
        <br/>
        <img class="rounded-circle" src="{% static 'img/equipe/Davi.jpg' %}" width="50%" height="auto">
        <p class="text-black">José Davi Viana Francelino</p>
      </div>
      <div class="col-md-4 col-12">
        <br/>
        <img class="rounded-circle" src="{% static 'img/equipe/Lais.jpg' %}" width="50%" height="auto">
        <p class="text-black">Lais Tayany do Nascimento Soares</p>
      </div>
      <div class="col-md-4 col-12">
        <br/>
        <img class="rounded-circle" src="{% static 'img/equipe/Larissa.jpg' %}" width="50%" height="auto">
        <p class="text-black">Larissa Andressa Pereira Silva</p>
      </div>
      <div class="col-md-4 col-12">
        <img class="rounded-circle" src="{% static 'img/equipe/Milenna.jpg' %}" width="50%" height="auto">
        <p class="text-black">Milenna Nunes Marinho</p>
      </div>
      <div class="col-md-4 col-12">
        <img class="rounded-circle" src="{% static 'img/equipe/Natalia.jpg' %}" width="50%" height="auto">
        <p class="text-black">Natália Cristina Tertuliano Melo</p>
      </div>
      <div class="col-md-4 col-12">
        <img class="rounded-circle" src="{% static 'img/equipe/Vivianny.jpg' %}" width="50%" height="auto">
        <p class="text-black">Vivianny Caroline Félix Bezerra</p>
      </div>
      <div class="col-md-4 col-12">
        <img class="rounded-circle" src="{% static 'img/equipe/Evantuy.jpg' %}" width="50%" height="auto">
        <p class="text-black">Evantuy de Oliveira</p>
      </div>
    </div>
  </section>
  <section id="duvidas" class="bg-white">
    <h2 class="text-center text-uppercase text-secondary mb-0">Envie suas dúvidas</h2>
    <hr class="cog-dark mb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Nome</label>
              <input class="form-control" id="name" type="text" placeholder="Nome" required="required" data-validation-required-message="Digite sua senha" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Email</label>
              <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Digite seu email" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Mensagem</label>
              <textarea class="form-control" id="message" rows="1" placeholder="Mensagem" required="required" data-validation-required-message="Digite a mensagem"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
          </div>
        </form>
      </div>
    </div>
{% endblock %}