{% extends 'base.html' %}
{% load static %}

{% block itens %}
  <li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#caso1">O computador desliga logo após aparecer "HDD Failure"</a>
  </li>
  <li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#caso2">O computador não liga</a>
  </li>
{% endblock %}

{% block conteudo %}
  <section id="caso1" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">O computador desliga logo após aparecer "HDD Failure"</h3>
    </header>
    <article class="text-justify">
      <h4 id="caso1-1"><i class="fas fa-user-cog"></i> Possíveis causas</h4>
      <ul>
        <li>Os cabos (ou algum dos cabos) que conectam o HD foram desconectados.</li>
        <li>o HD está com algum problema físico. Nesse caso, será necessário trocá-lo.</li>
      </ul>
      <h4 id="caso1-2"><i class="fas fa-cog"></i> Como consertar?</h4>
      <div class="container-fluid video text-center my-3"><a class="popup-youtube" href="https://www.youtube.com/watch?v="><i class="fab fa-youtube"></i> Vídeo</a></div>
      <div class="container-fluid text-center my-3 py-2 bg-danger">
        <h4><i class="fas fa-exclamation-triangle"></i> Atenção!</h4>
        <p>Desligue o computador e descarregue sua eletricidade estática antes de mexer no seu hardware.</p>
      </div>
      <h5 id="caso1-2-1"><i class="fas fa-clipboard-list"></i></i> Passos:</h5>
      <ol>
        <li>Abra o gabinete;</li>
        <li>Desconecte e reconecte os Cabos do HD, observando o cabo que, provavelmente, está solto;</li>
        <li>Após reconectar tudo adequadamente, como explicado no vídeo, feche o gabinete;</li>
        <li>Ligue-o e confira se o problema foi solucionado.</li>
      </ol>
    </article>
  </section>
  <section id="caso2" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">O computador não liga</h3>
    </header>
    <article class="text-justify">
      <h4 id="caso2-1"><i class="fas fa-user-cog"></i> Possíveis causas</h4>
      <ul>
        <li>A fonte de alimentação do computador está queimada.</li>
        <li>O botão de Ligar e Desligar do gabinete não está funcionando.</li>
      </ul>
      <h4 id="caso2-2"><i class="fas fa-cog"></i> Como consertar?</h4>
      <div class="container-fluid video text-center my-3"><a class="popup-youtube" href="https://www.youtube.com/watch?v="><i class="fab fa-youtube"></i> Vídeo</a></div>
      <div class="container-fluid text-center my-3 py-2 bg-danger">
        <h4><i class="fas fa-exclamation-triangle"></i> Atenção!</h4>
        <p>Desligue o computador e descarregue sua eletricidade estática antes de mexer no seu hardware.</p>
      </div>
      <h5 id="caso2-2-1"><i class="fas fa-clipboard-list"></i></i> Passos:</h5>
      <ol>
        <li>Com o cabo de alimentação ainda ligado, abra o gabinete;</li>
        <li>Confira, sem tocar nas peças, se o LED que fica na placa-mãe e indica energia, está apagado. Caso não haja esse LED, siga o próximo passo mesmo assim;</li>
        <li>Caso não haja LED ou caso ele esteja apagado, troque a fonte de alimentação (como mostrado no vídeo acima). Mas se o LED estiver aceso, o problema pode ser o botão do gabinete. Esse tipo de problema pode indicar várias tipos causas, mas inicialmente deve-se buscar as causas mais óbvias, descritas acima.</li>
      </ol>
    </article>
  </section>
  {{block.super}}
{% endblock %}