{% extends 'base.html' %}
{% load static %}

{% block itens %}
  <li class="nav-item mx-0 mx-lg-1">
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#comp1">Placa-mãe</a>
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#comp2">Processador</a>
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#comp3">Memória RAM</a>
    <a class="nav-link py-3 px-1 px-lg-3 rounded js-scroll-trigger" href="#comp4">Disco rígido</a>
  </li>
{% endblock %}

{% block conteudo %}
  <section id="comp1" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">Placa-mãe</h3>
    </header>
    <article class="text-justify">
      <div class="img"><img src="{% static 'img/placa-mae.jpg' %}"></div>
      <h4 id="comp1-1"><i class="fas fa-user-cog"></i> Definição</h4>
      <p>A placa-mãe (ou motherboard, em inglês) é uma placa de circuito impresso que permite interligar todos os componentes de um computador.</p>
    </article>
  </section>
  <section id="comp2" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">Processador</h3>
    </header>
    <article class="text-justify">
      <div class="img"><img src="{% static 'img/processador.jpg' %}"></div>
      <h4 id="comp2-1"><i class="fas fa-user-cog"></i> Definição</h4>
      <p>O Processador é um circuito integrado capaz de efetuar o processamento de dados, obedecendo a um conjunto predeterminado de instruções. Ele se comunica com o seu exterior (memória, chips da placa-mãe, periféricos, etc) através dos barramentos.</p>
    </article>
  </section>
  <section id="comp3" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">Memória RAM</h3>
    </header>
    <article class="text-justify">
      <div class="img"><img src="{% static 'img/memoria.jpg' %}"></div>
      <h4 id="comp3-1"><i class="fas fa-user-cog"></i> Definição</h4>
      <p> A memória de acesso aleatório (do inglês Random Access Memory) é um tipo de memória que permite a leitura e a escrita de dados de forma rápida.</p>
      <h4 class="comp3-2"><i class="fas fa-cog"></i> Características:</h4>
      <ul>
        <li><strong>Memória principal:</strong> pode ser lida e gravada pela CPU a qualquer instante. A CPU usa para armazenar e executar programas vindos do disco, para ler e escrever os dados que estão sendo processados.</li>
        <li><strong>Mémoria volátil:</strong> seus dados são perdidos após cessar a alimentação; pois todos os dados que não forem guardados de forma permanente serão apagados após encerramento do computador.</li>
      </ul>
    </article>
  </section>
  <section id="comp4" class="tab-pane bg-primary text-center">
    <header class="text-center">
      <h3 class="mb-5">Disco Rígido</h3>
    </header>
    <article class="text-justify">
      <div class="img"><img src="{% static 'img/hd.jpg' %}"></div>
      <h4 id="comp4-1"><i class="fas fa-user-cog"></i> Definição</h4>
      <p> O disco rígido (também conhecido como HD, que vem do inglês Hard Disk) não acessado diretamento pelo CPU, diferente da memória RAM. O seu acesso é feito através de interfaces ou controladores especiais.</p>
      <h4 class="comp4-2"><i class="fas fa-cog"></i> Características:</h4>
      <ul>
        <li><strong>Memória secundária:</strong> não é necessária para o funcionamento do computador, mesmo sendo muito importante, já que guarda os dados permanentemente.</li>
        <li><strong>Mémoria não volátil:</strong> seus dados permanecem mesmo após cessada a alimentação, isto é, não será apagado, alterado ou perdido quando se desliga o computador.</li>
      </ul>
    </article>
  </section>
  {{block.super}}
{% endblock %}